<div class="wrapper ng-scope">
  <div class="" style="background: url('assets/img/about/berlinblue.png'); background-repeat: repeat-x;  padding-bottom:0px; width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw;">
  <div class="row">
  <div class="col-md-12 m-t-xxl" align="" style="min-height: 350px;left: 0%;top: 30%;z-index: 1;">
  <div class="wrapper m-t-s" align="center" style="padding-top: 400px">
  <span class="h1 text-blue">About <strong class="mark-bold">Greendeck</strong></span><br><br>
  
  <p class="h4 font-thin">
  
  </p></div>
  </div>
  </div>
  </div>
  <div class="bg-white m-t-lg">
  <div class="row m-t-lg">
  <div class="col-sm-6" align="center">
  <div class="row m-t-lg">
  <img src="assets/img/about/saptechstars.png" style="margin:20px" onclick="window.open('http://www.techstars.com', '_blank');" height="150" align="center">
  </div>
  <div class="row m-t-lg">
  <div class="col-sm-6">
  <img src="assets/img/about/sbc.png" style="margin:20px" onclick="window.open('http://www.startupbootcamp.org', '_blank');" height="55" align="center">
  </div>
  <div class="col-sm-6">
  <img src="assets/img/about/yc.png" style="margin:20px" onclick="window.open('https://www.startupschool.org/', '_blank');" height="70" align="center">
  </div>
  </div>
  </div>
  <div class="col-sm-6">
  <p class="h2 font-thin">Company </p>
  <br>
  <p class="h4 font-thin text-muted" style="line-height: 1.5">Founded in 2017, Greendeck helps brands and retailers with the right competitive intelligence they need to drive speed, efficiency and better decision making. All this leads to higher revenue, better margins and an improved customer experience.</p>
  <p class="h4 font-thin text-muted" style="line-height: 1.5">We are a proud Techstars Company and excited to be part of the wonderful network of mentors and investors from <a href="http://www.techstars.com" class="text-blue" clickable="" target="_blank">Techstars</a>, <a href="http://www.sap.io" class="text-blue" clickable="" target="_blank">SAP.iO</a>, <a href="http://www.startupbootcamp.org" class="text-blue" clickable="" target="_blank">Startupbootcamp</a> and <a href="https://www.startupschool.org/" class="text-blue" clickable="" target="_blank">Y Combinator Startup School</a>.
  </p>
  </div>
  </div>
  </div>
  <div class="row m-t-xxl">
  <p class="h2 font-thin">Team </p>
  <br>
  <p class="h4 font-thin text-muted" style="line-height: 1.5">We are folks who love using technology to solve problems. We are proud BITS Pilani alumni. Greendeck is our 2nd venture.</p>
  <p class="h4 font-thin text-muted" style="line-height: 1.5">Our first company was a SaaS healthcare application called <a href="http://www.truemd.in" class="text-blue" target="_blank"> TrueMD </a>- an online pharmacy and <a href="http://www.healthos.co" class="text-blue" target="_blank"> HealthOS </a>- world's first open platform for healthcare datasets
  which got acquired in June, 2017.</p>
  </div>
  <div class="row m-t-xxl">
  <div class="col-sm-6">
  <a href="" class="thumb-lg pull-left m-r">
  <img src="assets/img/about/jain.png" class="img-circle">
  </a>
  <div class="clear m-b">
  <div class="m-b m-t-sm">
  <span class="h3 text-black">Aayush Jain</span><br>
  <small class="">CEO, Product</small><br>
  </div>
  <p class="m-b">
  <a href="https://www.twitter.com/jainaayush05" target="_blank" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
  <a href="https://www.linkedin.com/in/aayush-jain-51992510b/" target="_blank" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-linkedin"></i></a>
  </p>
  </div>
  </div>
  <div class="col-sm-6">
  <a href="" class="thumb-lg pull-left m-r">
  <img src="assets/img/about/agarwal.jpg" class="img-circle">
  </a>
  <div class="clear m-b">
  <div class="m-b m-t-sm">
  <span class="h3 text-black">Aayush Agarwal</span><br>
  <small class="">Business Dev</small><br>
  </div>
  <p class="m-b">
  <a href="https://twitter.com/aayush0706" target="_blank" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
  <a href="https://www.linkedin.com/in/aayush-agarwal-bb067376/" target="_blank" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-linkedin"></i></a>
  </p>
  </div>
  </div>
  <div class="col-sm-6">
  <a href="" class="thumb-lg pull-left m-r">
  <img src="assets/img/about/joshi.png" class="img-circle">
  </a>
  <div class="clear m-b">
  <div class="m-b m-t-sm">
  <span class="h3 text-black">Aditya Joshi</span><br>
  <small class="">Product</small><br>
  </div>
  <p class="m-b">
  <a href="https://twitter.com/adijoshi18" target="_blank" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
  <a href="https://www.linkedin.com/in/aditya-joshi-8b6b9830/" target="_blank" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-linkedin"></i></a>
  </p>
  </div>
  </div>
  <div class="col-sm-6">
  <a href="" class="thumb-lg pull-left m-r">
  <img src="assets/img/about/yash.png" class="img-circle">
  </a>
  <div class="clear m-b">
  <div class="m-b m-t-sm">
  <span class="h3 text-black">Yashvardhan Srivastava</span><br>
  <small class="">Technology</small><br>
  </div>
  <p class="m-b">
  <a href="https://twitter.com/yash6992" target="_blank" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
  <a href="https://www.linkedin.com/in/yashvardhan-srivastava-b476b549/" target="_blank" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-linkedin"></i></a>
  </p>
  </div>
  </div>
  </div>
  <div class="row m-t-xxl m-b-xxl">
  <div class="col-sm-12" align="center">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/-pgR9Pl7qcc" frameborder="0" allowfullscreen=""></iframe>
  </div>
  </div>
  <div class="bg-white m-t-lg">
  <div class="row" align="center">
  <div class="col-md-1 m-t-xl" align="" style="min-height: 200px;">
  </div>
  <div class="col-md-10 m-t-xl dot-bg shadow-xs img-responsive clickable" onclick="window.open('http://www.greendeck.co/#/home/webinar');" align="" style="min-height: 220px;">
  <div class="col-md-3 m-t-xl" align="center" style="left: 0%;top: 50%;z-index: 1;">
  <img src="assets/img/about/sap.png" width="" height="80" style="left: 0%;top: 50%;z-index: 1;">
  </div>
  <div class="col-md-9 m-t-xl text-center" align="center" style="left: 0%;top: 50%;z-index: 1;">
  <span class="h2 text-blue font-thin">Watch our webinar with SAP here</span><br>
  <p class="h4 font-thin">We joined hands with SAP to create this webinar that explains you how dynamic pricing can increase revenue and drive conversion.</p>
  </div>
  </div>
  <div class="col-md-1 m-t-xl" align="" style="min-height: 220px;">
  </div>
  </div>
  </div>
  <br><br><br><br>
  </div>