<div id="content" class="ng-scope">
  <div class="" style="background: url('assets/img/data/data-main.png'); background-repeat: no-repeat">
  <div class="row">
  <div class="col-md-12 m-t-xxl" align="" style="min-height: 480px;left: 0%;top: 30%;z-index: 1;">
  <div class="wrapper m-t-s" align="center" style="padding-top: 350px">
  <span class="h1 text-blue">Data is the <strong class="mark-bold">new oil</strong></span><br><br>
  <p class="h4 font-thin" style="line-height: 1.5;">Automate the process of gathering intel on your competition. See how we transform this process to give you the most accurate and trustworthy information.</p><br>
  <p class="h4 font-thin">
  
  </p></div>
  </div>
  </div>
  </div>
  <div class="bg-white m-t-xxl">
  <div class="row m-t-xl" style="background-color:#ebf3ff; padding-bottom:40px; width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw;">
  <div>
  <div class="col-md-4 m-t-xl" align="center">
  <img src="assets/img/data/clothesblue.png" width="70" height="70"><br>
  <p class="h1 text-blue mark-bold">10M+</p>
  <p class="h5 text-blue">SKUs</p>
  </div>
  <div class="col-md-4 m-t-xl" align="center">
  <img src="assets/img/data/brandsblue.png" width="70" height="70"><br>
  <p class="h1 text-blue mark-bold">9000+</p>
  <p class="h5 text-blue">BRANDS</p>
  </div>
  <div class="col-md-4 m-t-xl" align="center">
  <img src="assets/img/data/monitor.png" width="70" height="70"><br>
  <p class="h1 text-blue mark-bold">500+</p>
  <p class="h5 text-blue">RETAILERS</p>
  </div>
  </div>
  </div>
  </div>
  <div class="bg-white m-t-lg">
  <br>
  <div class="row wrapper-sm ">
  <div class="row wrapper-sm m-t-s" align="center">
  <div class="col-md-12">
  
  <span class="h2 mark-bold text-blue">So how did we curate this gigantic amount of data?</span><br>
  
  </div>
  </div>
  <div class="col-md-6 m-t-xl">
  <ul class="list-group no-bg no-borders pull-in">
  <li class="list-group-item m-b-lg">
  <div class="clear">
  <div><span class="h3 text-blue">We did it just like Google!</span></div><br><br>
  <span class="h4 text" style="line-height: 1.5;">Our crawlers traverse the web to read websites of brands and retailers and collect data that is publicly available.</span><br>
  </div>
  </li>
  <li class="list-group-item m-b-s">
  <div class="clear">
  <span class="h4 text" style="line-height: 1.5;">We then process this data, clean it, and automatically classify each product into categories and sub-categories. Also, each product is tagged with attributes like sleeve length, neckline, fit type etc.</span><br>
  </div>
  </li>
  </ul>
  </div>
  <div class="col-md-6 m-t-xl dot-bg" align="center">
  <img src="assets/img/data/crawl.png" class="img-responsive" style="width: 85%;"><br><br>
  
  </div>
  </div>
  </div>
  
  <hr>
  <div class="bg-white m-t-lg">
  <br>
  <div class="row wrapper-sm ">
  <div class="row wrapper-sm m-t-s" align="center">
  <div class="col-md-12">
  
  <span class="h2 mark-bold text-blue">Our Secret Sauce!</span><br>
  
  </div>
  </div>
  <div class="col-md-6 m-t-xl dot-bg" align="center">
  <img src="assets/img/data/nlpir.png" class="img-responsive" style="width: 100%;"><br><br>
  
  </div>
  <div class="col-md-6 m-t-xl">
  <ul class="list-group no-bg no-borders pull-in">
  <li class="list-group-item m-b-lg">
  <div class="clear">
  <span class="h4 text" style="line-height: 1.5;">Our AI engine uses a combination of Image Recognition (IR) and Natural Language Processing (NLP) to accurately classify products automatically. This robust combination of IR and NLP ensures that our data is immaculate.</span><br>
  </div>
  </li>
  <li class="list-group-item m-b-s">
  <div class="row wrapper-sm m-t-s" align="center">
  <div class="col-md-6">
  <p class="h1 text-blue mark-bold">200+</p>
  <p class="h5 text-blue">Categories covered</p>
  <p class="text-muted">(like dresses, skirts, shirts, shoes, bags etc.)</p>
  </div>
  <div class="col-md-6">
  <p class="h1 text-blue mark-bold">100+</p>
  <p class="h5 text-blue">Attributes covered</p>
  <p class="text-muted">(like neckline, pattern, occasion, style etc.)</p>
  </div>
  </div>
  </li>
  </ul>
  </div>
  </div>
  </div>
  <hr>
  <div class="bg-white m-t-lg">
  <br>
  <div class="row wrapper-sm ">
  <div class="row wrapper-sm m-t-s" align="center">
  <div class="col-md-12">
  
  <span class="h2 mark-bold text-blue">Raw data turned into actionable insights</span><br><br><br>
  
  <div class="clear">
  <span class="h4 text" style="line-height: 1.5;">The numbers are transformed into clear visualisations to enable you to understand the business impact of the data, and allow you to take the right decisions - be it buying stock for the new season, setting your prices, or planning your promotions.</span><br>
  </div>
  </div>
  </div>
  <div class="row wrapper-sm m-t-s dot-bg" align="center" style="margin-left:20px">
  <img src="assets/img/data/context.png" class="img-responsive" style="width: 72%;"><br><br>
  
  </div>
  
  
  </div>
  </div>
  
  
  
  <hr>
  <div class="row">
  <div class="col-md-2 m-t-xl" align="center" style="min-height: 50px;">
  </div>
  <div class="col-md-8 m-t-xl" align="center" style="min-height: 50px;">
  <div class="wrapper m-t-xl img-responsive">
  <span class="h2 text-blue m-t"><strong class="mark-bold">Interested in pricing?</strong></span><br><br>
   <p class="h4 font-thin">Check out our <span class="h4 font-thin text-blue clickable" onclick="window.open('https://www.medium.com/greendeck');">blog</span> and our <span class="h4 font-thin text-blue clickable" onclick="window.open('http://www.greendeck.co/#/home/webinar');">webinar</span> with <i><img src="assets/img/data/SAP-Logo.png" width="34"> </i> on how pricing can help drive revenues.</p><br>
  </div>
  </div>
  <div class="col-md-2 m-t-xl" align="center" style="min-height: 50px;">
  </div>
  </div>
  <div class="bg-white m-t-lg" style="padding-bottom:50px">
  <div class="row wrapper-sm " align="center">
  <span class="h2 text-blue m-t" align="center"><strong class="mark-bold">Proudly backed by</strong></span><br><br>
  <div class="row wrapper-sm " align="center">
  <div class="col-md-3 m-t-xl clickable" align="center" style="left: 0%;top: 30%;z-index: 1;">
  <img src="assets/img/data/sap-io.png" onclick="window.open('http://sap.io/', '_blank');" height="70" align="center">
  </div>
  <div class="col-md-3 m-t-xl clickable" align="center" style="left: -3%;top: 0%;z-index: 1;">
  <img src="assets/img/data/techstars.png" onclick="window.open('http://www.techstars.com', '_blank');" height="90" align="center">
  </div>
  <div class="col-md-3 m-t-xl clickable" align="center" style="left: -3%;top: 30%;z-index: 1;">
  <img src="assets/img/data/sbc.png" onclick="window.open('http://www.startupbootcamp.org', '_blank');" height="70" align="center">
  </div>
  <div class="col-md-3 m-t-xl clickable" align="center" style="left: 0%;top: 10%;z-index: 1;">
  <img src="assets/img/data/startupschool-yc.png" onclick="window.open('https://www.startupschool.org/', '_blank');" height="90" align="center">
  </div>
  </div>
  </div>
  </div>
  </div>