<div ui-view="" class="bg-white container ng-scope">
<div id="content" class="ng-scope">

<div class="">
<div class="row">
<div class="col-md-6 m-t-xl" align="">
<div class="wrapper m-t-xl" style="margin-top:100px">
<span class="h1 text-blue" style="line-height: 1.3;">Intelligence that empowers you to <strong class="mark-bold">take better Pricing and Buying decisions</strong></span><br><br>
<p class="h4 font-thin" style="line-height: 1.7;">Harness the power of AI to ensure that your pricing, promotions and buying strategy are aligned for higher revenue and better margins.</p><br>
<p class="h4 font-thin">
</p><form class="form-inline m-t ng-pristine ng-valid">
<div class="aside-xl inline">
<div class="input-group">
<input type="text" ng-model="email" class="form-control input-lg bg-light lter ng-pristine ng-untouched ng-valid ng-empty" placeholder="Your email" tabindex="0" aria-invalid="false">
<span class="input-group-btn">
<button class="btn btn-lg btn-blue mark-bold" type="submit" ng-click="request_invite(email, 'Fashion Home', 'Demo Request', '', '', '' ,'')" tabindex="0">See how it's done</button>
</span>
</div>
</div>
</form><br>

</div>
</div>
<div class="col-md-6 m-t-xl" align="center">
<img src="assets/img/intoHome/landing1.svg" class="h-xxxxxl">


</div>
</div>
</div>
<div class="bg-white m-t-lg">
<div class="row wrapper-sm " align="center">
<div class="col-md-8 col-md-offset-2">
<br><br>
<span class="h2 text-blue" style="line-height: 1.3;">Take better pricing and assortment decisions<strong class="mark-bold"> with all your competition data at your fingertips</strong></span><br><br>

</div>
</div>
<div class="row wrapper-sm " align="center">
<div class="col-md-4 m-t-xl">
<img src="assets/img/intoHome/dynamic_pricing.svg" width="100" height="100"><br><br>
<span class="h4 text-blue mark-medium">Pricing</span>
<br><br>


</div>
<div class="col-md-4 m-t-xl">
<img src="assets/img/intoHome/personalized.svg" width="100" height="100"><br><br>
<span class="h4 text-blue mark-medium">Promotions</span>
<br><br>


</div>
<div class="col-md-4 m-t-xl">
<img src="assets/img/intoHome/insights.svg" width="100" height="100"><br><br>
<span class="h4 text-blue mark-medium">Assortments</span>
<br><br>


</div>
</div>
</div>
<div class="bg-white m-t-xxl">
<div class="row m-t-xl" style="background-color:#ebf3ff; padding-bottom:40px; width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw;">
<div>
<div class="col-md-3 m-t-xl" align="center">
<p class="h1 text-blue mark-bold">10M+</p>
<p class="h5 text-blue">SKUs</p>
</div>
<div class="col-md-3 m-t-xl" align="center">
<p class="h1 text-blue mark-bold">9000+</p>
<p class="h5 text-blue">BRANDS</p>
</div>
<div class="col-md-3 m-t-xl" align="center">
<p class="h1 text-blue mark-bold">500+</p>
<p class="h5 text-blue">RETAILERS</p>
</div>
<div class="col-md-3 m-t-xl" align="center">
<p class="h1 text-blue mark-bold">10+</p>
<p class="h5 text-blue">COUNTRIES</p>
</div>
</div>
</div>
</div>
<div class="bg-white m-t-xl">
<br>
<div class="row wrapper-sm ">
<div class="col-md-6 m-t-xl">
<div class="row wrapper-sm m-t-s" align="center">
<div class="col-md-12">

<span class="h2 mark-bold text-blue">Pricing</span><br>
<p class="h4 text">Price changes, trends and analysis for each of the competing products</p>
</div>
</div>
<ul class="list-group no-bg no-borders pull-in">
<li class="list-group-item m-b-s">
<span class="fa-stack pull-left  m-r" style="padding: 2px;" align="center">
<img src="assets/img/intoHome/tick-sign.png" width="20" height="20">
</span>
<div class="clear" style="top: 30%; left: 50%; transform: translateY(40%)">
<span class=" h5="" font-thin="" text-muted"="">See entry and exit prices of each category in the market
</div>
</li>
<li class="list-group-item m-b-s">
<span class="fa-stack  pull-left  m-r" style="padding: 2px;" align="center">
<img src="assets/img/intoHome/tick-sign.png" width="20" height="20">
</span>
<div class="clear" style="top: 30%; left: 50%; transform: translateY(40%)">
 <span class=" ">Know how many products exist in certain price range &amp; plan MSRP accordingly</span>
</div>
</li>
<li class="list-group-item m-b-s">
<span class="fa-stack pull-left  m-r" style="padding: 2px;" align="center">
<img src="assets/img/intoHome/tick-sign.png" width="20" height="20">
</span>
<div class="clear" style="top: 30%; left: 50%; transform: translateY(40%)">
       <span class=" font-thin="" text-muted"="">Get real time alerts when your competitors change prices
</div>
</li>
<li class="list-group-item m-b-s">
<span class="fa-stack  pull-left  m-r" style="padding: 2px;" align="center">
<img src="assets/img/intoHome/tick-sign.png" width="20" height="20">
</span>
<div class="clear" style="top: 30%; left: 50%; transform: translateY(40%);">
<span class="">Identify similar products and see your price placement in the market</span>
</div>
</li>
</ul>
</div>
<div class="col-md-6 m-t-xl dot-bg" align="center">
<img src="assets/img/intoHome/11-1.png" class="shadow-xs img-responsive" style="width: 90%;"><br><br>
</div>
</div>
</div>

<div class="bg-white m-t-xl">
<hr><br>
<div class="row wrapper-sm ">
<div class="col-md-6 m-t-xl dot-bg" align="center">
<img src="assets/img/intoHome/10-3.png" class="shadow-xs img-responsive" style="width: 90%;"><br><br>

</div>
<div class="col-md-6 m-t-xl">
<div class="row wrapper-sm m-t-s" align="center">
<div class="col-md-12">

<span class="h2 mark-bold text-blue">Assortments</span><br>
<p class="h4 font-thin">Your competitor's stock distribution across categories</p>
</div>
</div>
<ul class="list-group no-bg no-borders pull-in">
<li class="list-group-item m-b-s">
<span class="fa-stack pull-left  m-r" style="padding: 2px;" align="center">
<img src="assets/img/intoHome/tick-sign.png" width="20" height="20">
</span>
<div class="clear" style="top: 30%; left: 50%; transform: translateY(40%)">
              <span class=" h5="" font-thin="" text-muted"="">Breakdown the offering of competitors to see categories, brands, products stocked
</div>
</li>
<li class="list-group-item m-b-s">
<span class="fa-stack  pull-left  m-r" style="padding: 2px;" align="center">
<img src="assets/img/intoHome/tick-sign.png" width="20" height="20">
</span>
<div class="clear" style="top: 30%; left: 50%; transform: translateY(40%)">
              <span class=" font-thin="" text-muted"="">Identify market leaders for every product/ category
</div>
</li>
<li class="list-group-item m-b-s">
<span class="fa-stack pull-left  m-r" style="padding: 2px;" align="center">
<img src="assets/img/intoHome/tick-sign.png" width="20" height="20">
</span>
<div class="clear" style="top: 30%; left: 50%; transform: translateY(40%)">
              <span class=" font-thin="" text-muted"="">See what patterns and colours are trending
</div>
</li>
<li class="list-group-item m-b-s">
<span class="fa-stack  pull-left  m-r" style="padding: 2px;" align="center">
<img src="assets/img/intoHome/tick-sign.png" width="20" height="20">
</span>
<div class="clear" style="top: 30%; left: 50%; transform: translateY(40%);">
<span class="">Discover the most popular styles of the season</span>
</div>
</li>
</ul>
</div>
</div>
</div>
<div class="bg-white m-t-xl">
<hr><br>
<div class="row wrapper-sm ">
<div class="col-md-6 m-t-xl">
<div class="row wrapper-sm m-t-s" align="center">
<div class="col-md-12">

<span class="h2 mark-bold text-blue">Promotions</span><br>
<p class="h4 font-thin">Get data on promotions, markdowns and sales in realtime</p>
</div>
</div>
<ul class="list-group no-bg no-borders pull-in">
<li class="list-group-item m-b-s">
<span class="fa-stack pull-left  m-r" style="padding: 2px;" align="center">
<img src="assets/img/intoHome/tick-sign.png" width="20" height="20">
</span>
<div class="clear" style="top: 30%; left: 50%; transform: translateY(40%)">
              <span class=" h5="" font-thin="" text-muted"="">Know your competitions' promotional campaigns
</div>
</li>
<li class="list-group-item m-b-s">
<span class="fa-stack  pull-left  m-r" style="padding: 2px;" align="center">
<img src="assets/img/intoHome/tick-sign.png" width="20" height="20">
</span>
<div class="clear" style="top: 30%; left: 50%; transform: translateY(40%)">
              <span class=" font-thin="" text-muted"="">Time your promotions better
</div>
</li>
<li class="list-group-item m-b-s">
<span class="fa-stack pull-left  m-r" style="padding: 2px;" align="center">
<img src="assets/img/intoHome/tick-sign.png" width="20" height="20">
</span>
<div class="clear" style="top: 30%; left: 50%; transform: translateY(40%)">
              <span class=" font-thin="" text-muted"="">Perfect your messaging by taking cues from competitions' promotional messages
</div>
</li>
<li class="list-group-item m-b-s">
<span class="fa-stack  pull-left  m-r" style="padding: 2px;" align="center">
<img src="assets/img/intoHome/tick-sign.png" width="20" height="20">
</span>
<div class="clear" style="top: 30%; left: 50%; transform: translateY(40%);">
<span class="">Maintain newness of promotional campaign to drive more engagement</span>
</div>
</li>
</ul>
</div>
<div class="col-md-6 m-t-xl dot-bg" align="center">
<img src="assets/img/intoHome/home/12.png" class="shadow-xs img-responsive" style="width: 90%;"><br><br>

</div>
</div>
</div>

<div class="bg-white m-t-lg">
<hr><br>
<div class="row wrapper-sm m-t-m">
<div class="col-md-12" style="padding-bottom:30px" align="center">
<span class="h2 mark-bold text-blue">You get value from our data from the word ‘Go’!</span><br>
</div>
</div>
<div class="row wrapper-sm m-t-m">
<div class="col-md-4 m-t-s" style="padding-bottom:30px" align="center">
<div class="row wrapper-sm m-t-s">
<div class="row wrapper-sm m-t-s" align="center">
<div class="col-md-12">
<img src="assets/img/intoHome/home/laptop.png" width="80" height="80"><br><br>
<span class="h3 text-blue">No IT Integration</span><br>
</div>
</div>
<div class="row wrapper-sm m-t-s" style="padding-left:0px; padding-right:20px;">
<div class="row wrapper-sm m-t-s" style="padding-left:0px; padding-right:20px;">
<p class="text" style="line-height: 2;">There is no need for any setups, integrations or long engineering hours. Just list down all your competitors and start immediately.</p><br>
</div>
</div>
<div class="row wrapper-sm m-t-s" style="padding-left:0px; padding-right:20px;">
<div class="row wrapper-sm m-t-s" style="padding-left:0px; padding-right:20px;">
<p class="text" style="line-height: 2;">Not just the data we have, we provide you with the data you need. We work with you to write custom crawlers and specs according to your needs.</p><br>
</div>
</div>
</div>
</div>
<div class="col-md-4 m-t-s" align="center">
<img src="assets/img/intoHome/support.svg" class="h-xl m-t-xxl">


</div>
<div class="col-md-4 m-t-s" style="padding-bottom:30px" align="center">
<div class="row wrapper-sm m-t-s">
<div class="row wrapper-sm m-t-s" align="center">
<div class="col-md-12">
<img src="assets/img/intoHome/home/sheet.png" width="80" height="80"><br><br>
<span class="h3 text-blue">Reporting &amp; Dashboard</span><br>
</div>
</div>
<div class="row wrapper-sm m-t-s" style="padding-left:20px; padding-right:0px;">
<div class="row wrapper-sm m-t-s" style="padding-left:20px; padding-right:0px;">
<p class="text" style="line-height: 2;">Whether you need consolidated reports, excel reports or live reports, we've got it covered. Talk to us to get custom reports about your competition pricing and assortments.</p><br>
</div>
</div>
<div class="row wrapper-sm m-t-s" style="padding-left:20px; padding-right:0px;">
<div class="row wrapper-sm m-t-s" style="padding-left:20px; padding-right:0px;">
<p class="text" style="line-height: 2;">You get a dashboard for all your search and categorisation needs. Explore trends over categories or try comparing red dresses in UK between £ 20 and £ 30</p><br>
</div>
</div>
</div>
</div>
</div>
</div>



<hr>

<div class="bg-white m-t-lg" style="padding-bottom:50px">
<div class="row wrapper-sm " align="center">
<span class="h2 text-blue m-t" align="center"><strong class="mark-bold">Proudly backed by</strong></span><br><br>
<div class="row wrapper-sm " align="center">
<div class="col-md-3 m-t-xl clickable" align="center" style="left: 0%;top: 30%;z-index: 1;">
<img src="assets/img/intoHome/sap-io.png" onclick="window.open('http://sap.io/', '_blank');" height="70" align="center">
</div>
<div class="col-md-3 m-t-xl clickable" align="center" style="left: -3%;top: 0%;z-index: 1;">
<img src="assets/img/intoHome/techstars.png" onclick="window.open('http://www.techstars.com', '_blank');" height="90" align="center">
</div>
<div class="col-md-3 m-t-xl clickable" align="center" style="left: -3%;top: 30%;z-index: 1;">
<img src="assets/img/intoHome/sbc.png" onclick="window.open('http://www.startupbootcamp.org', '_blank');" height="70" align="center">
</div>
<div class="col-md-3 m-t-xl clickable" align="center" style="left: 0%;top: 10%;z-index: 1;">
<img src="assets/img/intoHome/startupschool-yc.png" onclick="window.open('https://www.startupschool.org/', '_blank');" height="90" align="center">
</div>
</div>
</div>
</div>
</div></div>